/* Start Global Style */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}


/* End Global Style */


/* Start Navbar Section */

.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: absolute;
    width: 100%;
    position: absolute;
    top: 3%;
}

.navbar ul li {
    font-size: 13px;
    color: #fff;
    margin-left: 21px;
    margin-top: 15px;
    cursor: pointer;
}

.navbar ul li:last-child {
    background: #151d25;
    width: 100px;
    height: 36px;
    padding: 10px;
    margin-top: 5px;
}

.navbar img {
    width: 67px;
    margin-top: 8px;
    cursor: pointer;
}


/* End Navbar Section */


/* Start Landing Section */

.landing {
    background-image: url("../images/landingback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #151515;
    overflow: hidden;
}

.landing .row {
    margin-top: 100px;
}

.landing .row div:first-child img {
    position: absolute;
    left: 17%;
    top: -33%;
    margin-top: -66px;
}

.landing .row div:last-child {
    text-align: left;
}

.landing h1 {
    color: #fff;
    width: 66%;
    font-style: italic;
}

.dark {
    color: #151d25;
    font-weight: bold;
    font-style: normal;
}

.landing p {
    color: #fff;
    width: 50%;
}

.landing .row div:last-child img {
    width: 33%;
    margin-left: -22px;
}


/* End Landing Page */


/* Start About Section */

.about {
    background-color: #262a34;
    color: #Fff;
}

.about .row {
    margin-top: 150px;
    margin-bottom: 150px;
}

.about h1 {
    font-size: 41px;
    margin-left: 75px;
}

.about p {
    font-size: 16px;
    width: 50%;
    margin: 2px;
    line-height: 26px;
    margin-left: 93px;
}

.about .btn {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #41e0d8;
    margin-top: 43px;
    margin-left: 93px;
}

.image {
    background-image: url("../images/aboutback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* End About Section */


/* Start Words Section */

.words {
    background-color: #41e0d8;
    overflow: hidden;
    height: 600px;
}

.words h1 {
    color: #fff;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.words h2 {
    text-align: center;
    color: #151d25;
    font-size: 15px;
    width: 28%;
    margin-left: 35%;
}

.words .row div:first-child img {
    margin-left: 119px;
}

.words .row div:last-child .card-1 {
    margin-top: 25%;
    margin-left: -24%;
    width: 77%;
    background-color: #Fff;
    border-radius: 5px;
    padding: 14px 22px 14px 22px;
}

.card-1::before {
    content: "";
    border-width: 15px;
    width: 1px;
    height: 1px;
    left: -149px;
    position: absolute;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    top: 69%;
}

.words h3 {
    width: 100%;
    text-align: left;
    font-size: 34px;
    margin-bottom: -3px;
    color: #41e0d8;
}

.words h4 {
    width: 100%;
    text-align: right;
    font-size: 34px;
    margin-top: 19px;
    margin-bottom: 0;
    color: #41e0d8;
}


/* End Words Section */


/* Section Email Section */

.email {
    background-color: #151d25;
}

.email .row {
    margin-top: 100px;
}

.email h1 {
    color: #fff;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.email h2 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 24%;
    margin-left: 38%;
    line-height: 20px;
}

.email {
    text-align: center;
}

.email input {
    width: 500px;
    height: 60px;
    margin-left: -72px;
    background-color: #262a34;
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.email input::placeholder {
    color: #fff;
    padding-left: 50px;
}

.email .btn {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #fff;
    margin-left: 15px;
    height: 52px;
    padding: 18px;
    color: #41e0d8;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* End Email Section */


/* Start Footer Section */

.footer {
    background-color: #fff;
    text-align: center;
}

.footer img {
    width: 150px;
}

.footer h5 {
    margin-top: 66px;
}

.footer .row {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* End Footer Section */